.cases {

}

.cases__list {
  @include clear-list();
}

.cases__item {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: rem(100);
  font-size: rem(17);

  @include mq-min(667px) {
    flex-direction: row;
    align-items: center;
    font-size: rem(16);

    &:nth-child(2n) {
      flex-direction: row-reverse;
      text-align: right;
    }
  }
}

.cases__body {
  @include mq-min(667px) {
    flex-grow: 1;
    z-index: 1;
  }
}

.cases__item:nth-child(2n) .cases__body {
  @include mq-min(667px) {
    align-items: flex-end;
  }
}

.cases__title {
  position: relative;
  width: 100%;
  margin: 0;
  padding-bottom: rem(25);
  font-size: rem(22);
  font-family: $third-font;
  line-height: 1.3;

  @include mq-min(568px) {
    font-size: rem(27);
  }

  @include mq-min(667px) {
    margin-bottom: rem(25);
    padding-right: 2rem;
    font-size: rem(30);
    box-sizing: border-box;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50%;
      height: 3px;
      background-color: $accent-color-2;
      transition: width ($duration * 2) ($duration * 2);
    }
  }
}

.cases__item:nth-child(2n) .cases__title {
  @include mq-min(667px) {
    margin-left: auto;
    padding-left: 2rem;
    padding-right: 0;

    &::before {
      left: auto;
      right: 0;
    }
  }
}

.cases__item:hover .cases__title {
  &::before {
    width: calc(100% + #{rem(50)});
    transition-delay: 0s;
  }
}

.cases__description {
  color: #808b92;
}

.cases__to-case {
  @include make-button();
  @include --button-accent-2();
  @include --button-small();

  margin-top: rem(25);
}

.cases__image-box {
  flex-shrink: 0;
  margin-bottom: 1rem;

  @include mq-min(667px) {
    position: relative;
    width: 50%;
    margin-bottom: 0;
    margin-left: rem(50);

    &::before {
      content: "";
      position: absolute;
      left: -3px;
      top: -3px;
      width: 0;
      bottom: -3px;
      background-color: $accent-color-2;
      transition: ($duration * 2) linear;
    }
  }

  @include mq-min(768px) {
    width: 55%;
  }
}

.cases__item:nth-child(2n) .cases__image-box {
  @include mq-min(667px) {
    margin-left: 0;
    margin-right: rem(50);

    &::before {
      left: auto;
      right: -3px;
    }
  }
}

.cases__item:hover .cases__image-box::before {
  width: calc(100% + 6px);
  transition-delay: ($duration * 1.4);
}

.cases__image-box-wrapper {
  @include make-fit-object(16, 9);
}

.cases__image {
  transition: transform ($duration * 5) ($duration * 1.5);
}

.cases__item:hover .cases__image {
  transform: scale(1.2);
}
