.client-reviews {

}

.client-reviews__list {
  @include clear-list();

  display: flex;
  flex-wrap: wrap;
}

.client-reviews__item {
  font-weight: 600;
  line-height: 1.22;
  overflow: hidden;

  @include mq-min(568px) {
    width: calc(100% / 2);
  }

  @include mq-min(616px) {
    width: calc(100% / 3);
  }

  @include mq-min(768px) {
    width: calc(100% / 3);
  }

  @include mq-range(768px, 991px) {
    font-size: rem(18);
  }

  @include mq-min(992px) {
    width: calc(100% / 6);
  }
}

.client-reviews__item-inner {
  position: relative;
  padding-top: 100%;
  font-size: rem(16);

  @include mq-range(568px, 615px) {
    padding-top: 80%;
  }

  @include mq-max(615px) {
    font-size: rem(20);
  }
}

.client-reviews__item-imagebox {
  position: absolute;
  left: rem(20);
  top: rem(20);
  right: rem(20);
  bottom: rem(20);
  display: flex;
  align-items: center;
  justify-content: center;
}

.client-reviews__item-image {

}

.client-reviews__item-cover {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: rem(20);
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateY(15%);
  opacity: 0;
  background-color: $secondary-color-2;
  transition: ($duration * 1.5);
}

.client-reviews__item:hover .client-reviews__item-cover {
  transform: translateY(0);
  opacity: 1;
  transition-duration: ($duration * 1.5);
}

.client-reviews__item-message {
  @include clear-mr-edges-elem();

  margin: auto;
}

.client-reviews__more-wrapper {
  position: relative;
  margin-top: 1rem;
  text-align: center;
}

.client-reviews__more {
  @include make-button();
  @include --button-action();
}
