.client-reviews-slider {

  .slick-list {
    width: 100%;
  }

  .slick-track {
    display: flex;
  }

  .slick-track:before,
  .slick-track:after {
    content: none;
  }

  .slick-dots {
    @include clear-list();

    display: flex;
    justify-content: center;
    margin-bottom: rem(30);
    margin-left: auto;
    margin-right: auto;

    li {
      margin-right: 0.5em;

      &:last-child {
        margin-right: 0;
      }
    }

    button {
      display: block;
      padding: 0;
      overflow: hidden;
      width: rem(12);
      height: rem(12);
      border: 4px solid transparent;
      text-indent: -1000px;
      background: $accent-color;
      background-clip: content-box;
      border-radius: 50%;
      outline: none;
      cursor: pointer;
      user-select: none;
    }

    .slick-active button {
      border-color: $accent-color;
      cursor: default;
    }
  }
}

.client-reviews-slider__item {

  @include mq-max(615px) {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}
