.client-reviews__list {
  @include clear-list();

  display: flex;
  flex-wrap: wrap;
}

.client-reviews__item {
  font-weight: 600;
  line-height: 1.22;
  perspective: 1200px;

  @include mq-min(568px) {
    width: calc(100% / 2);
  }

  @include mq-min(616px) {
    width: calc(100% / 3);
  }

  @include mq-min(768px) {
    width: calc(100% / 3);
  }

  @include mq-range(768px, 991px) {
    font-size: rem(18);
  }

  @include mq-min(992px) {
    width: (100% / 6);
  }
}

.client-reviews__item-inner {
  position: relative;
  padding-top: 100%;
  font-size: rem(14);
  transform-style: preserve-3d;
  backface-visibility: visible;
  transition: ($duration * 3);

  @include mq-range(568px, 615px) {
    padding-top: 80%;
  }
  @include mq-max(615px) {
    font-size: rem(18);
  }
}

.client-reviews__item:hover .client-reviews__item-inner {
  transform: rotateY(180deg);
}

.client-reviews__item-imagebox {
  position: absolute;
  left: rem(20);
  top: rem(20);
  right: rem(20);
  bottom: rem(20);
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  transition: opacity $duration;
}

.client-reviews__item:hover .client-reviews__item-imagebox {
  opacity: 0;
  transition: opacity $duration $duration;
}

.client-reviews__item-cover {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  margin-left: -0.5px; // устраняет размытость текста
  padding: rem(20) rem(19);
  transform: translate3d(-50%, -50%, 0) rotateY(-180deg);
  background-color: $secondary-color-2;
  transition: ($duration * 1.5);
  opacity: 0;
  box-sizing: border-box;
}

.client-reviews__item:hover .client-reviews__item-cover {
  opacity: 1;
  visibility: visible;
  transition: opacity $duration ($duration / 2);
}

.client-reviews__item-message {
  @include clear-mr-edges-elem();
}

.client-reviews__more-wrapper {
  position: relative;
  margin-top: 1rem;
  text-align: center;
}

.client-reviews__more {
  @include make-button();
  @include --button-action();
}
