.out-cover-toggler {
  position: relative;
  width: rem(24);
  height: rem(20);
  flex-shrink: 0;
  padding: 0;
  padding-top: rem(8);
  padding-bottom: rem(8);
  color: $accent-color-2;
  font-size: 0;
  background-color: currentColor;
  border: none;
  background-clip: content-box;
  box-sizing: border-box;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $white-color;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: rem(4);
    background-color: currentColor;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: rem(16);
  }
}
