.out-cover-toggler {
  display: flex;
  flex-shrink: 0;
  font-family: $secondary-font;
  border: none;
  cursor: pointer;
  background: none;
  color: $accent-color-2;
  transition: color $duration;

  &:hover,
  &:focus {
    color: $white-color;
  }
}

.out-cover-toggler__icon {
  position: relative;
  width: rem(24);
  height: rem(20);
  padding: 0;
  padding-top: rem(8);
  padding-bottom: rem(8);
  font-size: 0;
  background-color: currentColor;
  background-clip: content-box;
  box-sizing: border-box;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: rem(4);
    background-color: currentColor;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: rem(16);
  }
}

.out-cover-toggler__label {
  margin-left: 0.5rem;

  @include mq-max(567px) {
    display: none;
  }
}
