.page-title {
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
  font-size: rem(40);
  line-height: 1.3;
  font-family: $third-font;

  @include mq-min(568px) {
    font-size: rem(45);
  }

  @include mq-min(768px) {
    font-size: rem(65);
  }

  @include mq-min(1110px) {
    font-size: rem(70);
  }
}
