.popup {
  width: calc(100% - #{($grid-gutter-width / 2)});
  max-width: rem(500);
  padding: ($grid-gutter-width * 1);
  color: $black-color;
  background-color: #000102;
  background-color: $white-color;

  @include mq-min(768px) {
    padding: ($grid-gutter-width * 2);
  }

  .form-control {
    background-color: #edeef1;
    color: $black-color;
    // border-color: $muted-color;
    //
    &:hover {
      background: #f9f9f9;
    }

    &:focus {
      border-color: mix(#000, #e3e3e1, 7%);
      background: #fff;
    }

    &::placeholder {
      color: $muted-color;
    }
  }

  .form-submit {
    &:hover,
    &:focus {
      color: $white-color;
      background-color: #333;
    }
  }
}

.popup__title {
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  font-family: $third-font;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-weight: 700;
  font-size: 1.65rem;
}

.popup__text {
  margin-bottom: 1.5rem;
  font-size: rem(16);

  & > :last-child {
    margin-bottom: 0;
  }

  @include mq-min(768px) {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
