.section-client-reviews {
  background-color: $secondary-color-2;
}

.section-client-reviews__inner {
  @include make-container();

  padding: 0;

  @include mq-min(736px) {
    padding-left: 0;
    padding-right: 0;
  }
}
