.section {
  position: relative;
}

.section__inner {
  padding-top: ($grid-gutter-width * 1.8);
  padding-bottom: ($grid-gutter-width * 1.8);
}

.section__title {
  margin: 0;
  margin-bottom: rem(40);
  text-align: center;
  font-weight: 800;
  font-size: rem(25);
  text-transform: uppercase;
  color: $secondary-color;

  @include mq-min(1280px) {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    transform: rotate(90deg) translateX(-1rem) translateY(3rem);
    transform-origin: 0 50%;
    letter-spacing: 0.025em;

    &::before {
      content: "";
      width: rem(140);
      border-top: 2px solid;
    }
  }
}

.section__lead {
  @include clear-mr-edges-elem();

  max-width: rem(700);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: rem(70);
  font-size: rem(24);
  text-align: center;

  & > * {
    margin-bottom: 0;
  }
}
