.welcome {
  @include on-make-blur('.is-out-cover-show');
}

.welcome__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  box-sizing: border-box;
  z-index: 1;

  @include mq-min(768px) {
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: left;
  }

  @include mq-min(992px) {
    background: url("images/bg-welcome.svg") no-repeat calc(100% - 2rem) calc(100% - 30%) / auto 45%;
  }

  @include mq-min(1024px) {
    background-position: right;
    background-size: rem(450);
  }
}

.welcome__title {
  margin: 0;
  margin-bottom: 8.75vh;
  font-size: rem(35);
  line-height: 1.3;
  font-family: $third-font;

  @include mq-min(568px) {
    font-size: rem(55);
  }

  @include mq-min(768px) {
    font-size: rem(65);
  }

  @include mq-min(1110px) {
    font-size: rem(70);
  }
}

.welcome__text {
  @include clear-mr-edges-elem();

  font-size: rem(24);
}

.welcome__column {
  @include mq-min(768px) {
    width: 70%;
  }

  @include mq-min(992px) {
    width: 60%;
  }

  @include mq-min(1024px) {
    width: 50%;
  }
}
